<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chinese_Keyboard_Warriors_2dDungeonCrawler"
        tools:targetApi="31" >

        <!-- Edit below to reflect starting screen. -->
        <activity
            android:name="com.example.dungeoncrawler.view.WelcomeActivity"
            android:exported="true"> <!-- Edit '.XXXX' with the actual name of your main activity class -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.dungeoncrawler.view.PreGameConfiguration"
            android:exported="false"> <!-- Edit '.XXXX' with the actual name of your main activity class -->
        </activity>
        <activity
            android:name="com.example.dungeoncrawler.view.Room1Activity"
            android:exported="false"> <!-- Edit '.XXXX' with the actual name of your main activity class -->
        </activity>
        <activity
            android:name="com.example.dungeoncrawler.view.EndActivity"
            android:exported="false"> <!-- Edit '.XXXX' with the actual name of your main activity class -->
        </activity>
        <activity
            android:name="com.example.dungeoncrawler.view.Room2Activity"
            android:exported="false"> <!-- Edit '.XXXX' with the actual name of your main activity class -->
        </activity>
        <activity
            android:name="com.example.dungeoncrawler.view.Room3Activity"
            android:exported="false"> <!-- Edit '.XXXX' with the actual name of your main activity class -->
        </activity>
    </application>

</manifest>
